<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKzKUZkurgJ70JB4_-LZ_iw6FBIAMrmW4</string>
	<key>GCM_SENDER_ID</key>
	<string>489176136812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUserDetails</string>
	<key>PROJECT_ID</key>
	<string>userdetails-12f75</string>
	<key>STORAGE_BUCKET</key>
	<string>userdetails-12f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489176136812:ios:7707f9912a5ab30a33ec49</string>
</dict>
</plist>